<script setup lang="ts">
  import { Inertia } from '@inertiajs/inertia'

  defineProps<{
    title?: string
  }>()

  const navigation = [
    {
      title: 'Welcome',
      route: 'inertia.welcome',
    },
    {
      title: 'Home',
      route: 'inertia.home',
    },
    {
      title: 'About',
      route: 'inertia.about',
    },
    {
      title: 'Login',
      route: 'inertia.login',
    },
  ]
  const logout = () => {
    Inertia.post(route('logout'))
  }
</script>

<template>
  <div class="min-h-screen container">
    <div class="flex mt-2">
      <div class="flex items-center space-x-2 mx-auto">
        <inertia-link
          :href="route(item.route)"
          v-for="(item, id) in navigation"
          :key="id"
        >
          {{ item.title }}
        </inertia-link>
        <button @click="logout">Logout</button>
      </div>
    </div>
    <slot></slot>
  </div>
</template>
