<script setup lang="ts">
  defineProps<{ label?: string }>()
</script>

<template>
  <div>
    <label class="block font-medium text-sm text-gray-700">
      <span v-if="label">{{ label }}</span>
    </label>
    <slot />
  </div>
</template>
