<script setup lang="ts">
  const about = 'Inertia About'
</script>

<template>
  <app-layout>
    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      {{ about }}
    </div>
  </app-layout>
</template>
