<script setup lang="ts">
  const props = defineProps<{
    user: {
      name: string
    }
  }>()

  const homePage = 'Inertia HomePage'
</script>

<template>
  <app-layout>
    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      {{ homePage }}
      <div>
        {{ user.name }}
      </div>
    </div>
  </app-layout>
</template>
