<script setup lang="ts">
  import { Head, Link, useForm } from '@inertiajs/inertia-vue3'
  // import route from 'ziggy-js'

  defineProps<{ canResetPassword?: boolean; status?: string }>()

  const form = useForm({
    email: 'superadmin@example.com',
    password: 'password',
    remember: true,
  })

  const submit = () => {
    form
      .transform((data) => ({
        ...data,
        remember: form.remember ? 'on' : '',
      }))
      .post('/login', {
        onFinish: () => form.reset('password'),
      })
  }
</script>

<template>
  <app-layout>
    <div
      class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100"
    >
      <div>
        <slot name="logo" />
      </div>

      <div
        class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg"
      >
        <field-validation-errors />
        <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
          {{ status }}
        </div>
        <form @submit.prevent="submit">
          <field-text
            id="email"
            v-model="form.email"
            type="email"
            class="mt-1 block w-full"
            required
            autofocus
          />
          <field-text
            id="password"
            v-model="form.password"
            type="password"
            class="mt-1 block w-full"
            required
            autofocus
          />
          <field-checkbox v-model:checked="form.remember" name="remember" />
          <div class="flex items-center justify-end mt-4">
            <Link
              v-if="canResetPassword"
              :href="route('password.request')"
              class="underline text-sm text-gray-600 hover:text-gray-900"
            >
              Forgot your password?
            </Link>
            <app-button
              class="ml-4"
              :class="{ 'opacity-25': form.processing }"
              :disabled="form.processing"
              >Log in</app-button
            >
          </div>
        </form>
      </div>
    </div>
  </app-layout>
</template>
