<script setup lang="ts">
  const welcomePage = 'Inertia WelcomePage'
</script>

<template>
  <app-layout>
    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      {{ welcomePage }}
    </div>
  </app-layout>
</template>
